# GPM Automation Tool Environment Variables
# GEMINI_API_KEY=your_key_here
QUIP_REFERRAL_URL=https://quest.quip.network/airdrop?referral_code=YOUR_CODE
WINDOW_WIDTH=960
WINDOW_HEIGHT=1080
RETRY_ON_FAIL=2
BROWSER_ZOOM=100
